* {
    margin: 2;
    padding: 0.5;
  }
  body {
    font-family: sans-serif;
    background: #000000e3;
    color: rgba(209, 209, 209, 0.8);
  }
  .grid {
    width: 85%;
    margin: 8px auto;
    display: flex;
    gap: 2px;
  }
  .column {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .image {
    position: relative;
  }
  .image img {
    width: 100%;
    height: auto;
    vertical-align: top;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(65, 65, 65, 0.8);
    opacity: 0.2;
    transition: 0.5s;
  }
  
  .image:hover .overlay {
    opacity: 0.8;
    cursor: pointer;
  }
  
  
  
  .is-ie .column {
    width: 100%;  
    margin-right: 5px;
  }
  .is-ie .column:last-child {
    margin-right: 0;  
  }
  .is-ie .image {
    margin-bottom: 5px;  
    min-height: 2px;  
  }
